
@{
    ViewBag.Title = "Index";
}

@model PagedList.IPagedList<KTGK.Models.Category>
@using PagedList.Mvc;

<h2>DANH SÁCH MẶT HÀNG</h2>

<p>
    @Html.ActionLink("Thêm mới mặt hàng", "Create",null,new { @class = "btn btn-primary" })
</p>
<p>
    @using (Html.BeginForm(FormMethod.Get))
    {
        <input class="form-control" placeholder="Tìm kiếm..." name="search" /> <hr />
        <button class="btn btn-danger" type="submit" >Tìm kiếm</button>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new
            {
               sortName = ViewBag.NameSortParm
             })
        </th>
        <th>
            @Html.ActionLink("Note", "Index", new
       {
           sortNote =ViewBag.NotSortParm
       }) 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.id }) |
            @Html.ActionLink("Xem chi tiết", "Details", new { id=item.id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("", new { page, pageSize = Model.PageSize }))
